/* src/pages/PricePrediction.css */

.price-prediction-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-outline-dark, .btn-outline-danger {
    margin-top: 10px;
  }
  